@import "tailwindcss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
}

body {
    background: linear-gradient(#f9fafb, #d2d6db);
    display: flex;
    justify-content: center;
    height: 100vh;
    font-family: 'Noto Sans', sans-serif;
}
